@import "styles/layout";

$green-rm-clr: #97ce4c;
$blue-rm-clr: #4eaacc;
$light-blue-rm-clr: #bee5fd;

.auth-container {
  max-width: 60vw;
  width: 500px;
  padding: 40px;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.app-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
